* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  padding: 20px 0 0 24px;
}

.title {
  font-family: 'Inconsolata';
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}

section {
  padding-top: 109px;
}

.scarecrow {
  width: 286.83px;
  height: 238px;
}

.subtitle {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
  width: 350px;
  letter-spacing: -0.035em;
  color: #333333;
}

.notice {
  font-family: 'Space Mono';
  width: 328px;
  height: 81px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}
